{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
        <p class="project-desc">{{project.descr}}</p>

        {% if project.demo %}
          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}

        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if site.show_os_projects %}
  <h1 class="title">{{site.os_projects_title}}</h1>

  <div class="projects-wrapper">
    <div class="project neumorphism-card" data-aos="zoom-in-down">

      <div class="name-link-wrapper">
        <h3>Frontiers in Neurology (2026)</h3>
      </div>

      <p class="project-desc">
        <strong>Lee S.</strong>, Park E., Cheong Y., Ro J., Kim J.,
        Lee H.-W., <strong>Jung M.</strong> (2026).

        <br><br>

        <em>
          Feasibility and preliminary signal of cerebellar intermittent theta
          burst stimulation for static balance in cerebellar ataxia:
          a pilot study.
        </em>

        <br><br>

        Frontiers in Neurology, 17, 1826602.
      </p>

      <a
        class="highlight-link"
        href="https://doi.org/10.3389/fneur.2026.1826602"
        target="_blank"
        rel="noreferrer"
      >
        DOI
      </a>

    </div>
  </div>
{% endif %}
